<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Random Pokemon App</title>
    <link rel="stylesheet" href="./css/site.css">
    <link rel="stylesheet" href="./css/custom-styles.css">

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>