.pokemon-image {
    border: 1px solid darkgray;
    margin: 5px;
}

.pokemon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.pokemon-table th {
    text-align: right;
}

.link-para {
    text-align: right;
    font-style: italic;
}